body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;	
      background-color: #000;
      color: #fff;
    }
    header { 
       
      background-color: #eef528;
      padding: 20px;
      text-align: center;
    }
    header h1 {
      margin: 0;
      font-size: 28px;
      text-transform: uppercase;
      color: #020202;
    }
    nav {
      background-color: #000;
      padding: 10px;
      text-align: center;
    }
    nav a {
      text-decoration: none;
      margin: 10px;
      color: #f7f4f4;
      font-weight: bold;
    }
    main {
      padding: 20px;
    }
    footer {
      background-color: #eef528;
      padding: 20px;
      text-align: center;
      color:#000
    }
    .video {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 20px;
    }
    .video .thumbnail {
      position: relative;
      width: 250px;
      height: 140px;
      margin: 10px;
      overflow: hidden;
      transition: transform 0.3s;
      background-color: #333;
    }
    .video .thumbnail img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .video .thumbnail:hover {
      transform: scale(1.1);
    }
    .video .title {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      color: #fff;
      padding: 10px;
      margin: 0;
      font-weight: bold;
    }
    
    header, nav, main, footer {
      max-width: 1200px;
      margin: 0 auto;
    }
    .video .thumbnail {
      width: 275px;
      height: 155px;
    }
    .video .title {
      font-size: 14px;
      padding: 8px;
    }